{% extends 'base.html' %}

{% block content %}
<hr>
<h1 style="text-align: center;">LOKACIJE</h1>
<p style="text-align: center;"><a class="btn btn-bg btn-success" href="/lokacije/create/">Dodaj Lokaciju</a></p>

<div class="row">
  <div class="col">
    <div class="card card-body">

      <form method="GET">
        {{ my_filter.form }}

        <button class="btn btn-primary" type="submit">Search</button>
      </form>

    </div>
  </div>
</div>

<div style="margin-left: 75px; margin-right: 75px;">
  <div>

<table id="example" class="table table-striped table-sm">
    <thead class="thead-dark">
      <tr>
        <!--- <th scope="col">#</th> -->
        <th scope="col">Šifra lokacije</th>
        <th scope="col">Mjesto</th>
        <th scope="col"></th>
        <th scope="col"></th>
        
      </tr>
    </thead>


      {% for lokacija in lokacije %}
        <tr>
          <td><a href="/lokacije/{{ lokacija.pk }}/">{{ lokacija.sifra_lokacije }}</a></td>
          <td>{{ lokacija.mjesto }}</td>
          <td><a class="btn btn-sm btn-primary" href="/lokacije/{{ lokacija.pk }}/update/">Update</a></td>
          <td><a class="btn btn-sm btn-danger" href="/lokacije/{{ lokacija.pk }}/delete/">Delete</a></td>
        </tr>
      {% endfor %}

 
  </table>

 </div>
</div>


  {% endblock content %}