{% extends 'base.html' %}

{% block content %}
<hr>
<p>
  <table>
    <tr>
      <td>LOKACIJE</td>
      <td><a href="/lokacije/create/">Dodaj Lokaciju</a></td>
    </tr>
  </table> 
</p>
<hr>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <!--- <th scope="col">#</th> -->
        <th scope="col">Šifra lokacije</th>
        <th scope="col">Mjesto</th>
        <th scope="col"></th>
        <th scope="col"></th>
        
      </tr>

      {% for lokacija in lokacije %}
        <tr>
          <td><a href="/lokacije/{{ lokacija.pk }}/">{{ lokacija.sifra_lokacije }}</a></td>
          <td>{{ lokacija.mjesto }}</td>
          <td><a href="">Update</a></td>
          <td><a href="">Delete</a></td>
        </tr>
      {% endfor %}

    <!--</thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody> -->
  </table>

  {% endblock content %}