{% extends 'base.html' %}

{% block content %}
<hr>
<h1 style="text-align: center;">LOKACIJE</h1>
<p style="text-align: center;"><a class="btn btn-bg btn-success" href="/lokacije/create/">Dodaj Lokaciju</a></p>
<hr>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <!--- <th scope="col">#</th> -->
        <th scope="col">Šifra lokacije</th>
        <th scope="col">Mjesto</th>
        <th scope="col"></th>
        <th scope="col"></th>
        
      </tr>

      {% for lokacija in lokacije %}
        <tr>
          <td><a href="/lokacije/{{ lokacija.pk }}/">{{ lokacija.sifra_lokacije }}</a></td>
          <td>{{ lokacija.mjesto }}</td>
          <td><a class="btn btn-sm btn-primary" href="/lokacije/{{ lokacija.pk }}/update/">Update</a></td>
          <td><a class="btn btn-sm btn-danger" href="/lokacije/{{ lokacija.pk }}/delete/">Delete</a></td>
        </tr>
      {% endfor %}

    <!--</thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody> -->
  </table>

  {% endblock content %}