{% extends 'base.html' %}

{% block content %}
<hr>
<h1 style="text-align: center;">KORISNICI</h1>
    <p style="text-align: center;"><a class="btn btn-bg btn-success" href="/korisnici/create/">Dodaj Korisnika</a></p>
<hr>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <!--- <th scope="col">#</th> -->
        <th scope="col">ID korisnika</th>
        <th scope="col">Ime </th>
        <th scope="col">Prezime</th>
        <th scope="col"></th>
        <th scope="col"></th>
        
      </tr>

      {% for korisnik in korisnici %}
        <tr>
          <td><a href="/korisnici/{{ korisnik.pk }}/">{{ korisnik.id_korisnika }}</a></td>
          <td>{{ korisnik.ime }}</td>
          <td>{{ korisnik.prezime }}</td>
          <td><a class="btn btn-sm btn-primary" href="/korisnici/{{ korisnik.pk }}/update/">Update</a></td>
          <td><a class="btn btn-sm btn-danger" href="/korisnici/{{ korisnik.pk }}/delete/">Delete</a></td>
        </tr>
      {% endfor %}

      
  </table>

  {% endblock content %}