{% extends 'base.html' %}

{% block content %}

    <p></p>
    <hr>
    <h1 style="text-align: center;">KREIRAJTE NOVI UREĐAJ</h1>
    <p></p>
    <hr>
    <p></p>

    <div class="form-group" style="width: 800px; margin: auto; border-style: solid; padding: 50px; padding-bottom: 30px; background-color: rgb(234, 239, 241);">
        <form method="POST"> 
            {% csrf_token %}
            {{ form.as_p }}
            <br>
                <div style="text-align: center;">
                <button type="submit" class="btn btn-lg btn-success">Kreiraj</button>
                <a class="btn btn-lg btn-primary" href="/uredaji/">Odustani</a>
                </div>
        </form>
    </div>

 {% endblock content %}