{% extends 'base.html' %}

{% block content %}
<hr>
  <h1 style="text-align: center;">KVAROVI</h1>
      <p style="text-align: center;"><a class="btn btn-bg btn-success" href="/kvarovi/create/">Dodaj Kvar</a></p>
<hr>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <!--- <th scope="col">#</th> -->
        <th scope="col">ID kvara</th>
        <th scope="col">Opis kvara</th>
        <th scope="col">Status</th>
        <th scope="col">Barcode uređaja</th>
        <th scope="col"></th>
        <th scope="col"></th>
        
      </tr>

      {% for kvar in kvarovi %}
        <tr>
          <td><a href="/kvarovi/{{ kvar.pk }}/">{{ kvar.id_kvara }}</a></td>
          <td>{{ kvar.opis_kvara }}</td>
          <td>{{ kvar.status }}</td>
          <td>{{ kvar.barcode_uredaja }}</td>
          <td><a class="btn btn-sm btn-primary" href="/kvarovi/{{ kvar.pk }}/update/">Update</a></td>
          <!--<td><a href="/kvarovi/{{ kvar.pk }}/confirm_delete/">Delete</a></td>-->
          <td><a class="btn btn-sm btn-danger" href="/kvarovi/{{ kvar.pk }}/delete/">Delete</a></td> 
        </tr>
      {% endfor %}

      
  </table>

  {% endblock content %}